### Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
print(data)
print()
print(data['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
print(data)
print()
print(data[5])

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

0.5

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
print(population['California'])
print()
print(population['California':'Illinois'])

38332521

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### DataFrame

In [16]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

states = pd.DataFrame({'population': population, 
                       'area': area})
print(states)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [17]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [18]:
states.columns

Index(['population', 'area'], dtype='object')

In [19]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [22]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [26]:
data = [{'a': i, 'b': i*2 , 'c': i*3} for i in range(3)]
pd.DataFrame(data)

   a  b  c
0  0  0  0
1  1  2  3
2  2  4  6

In [27]:
pd.DataFrame([{'a': 1, 'b': 2}, {'a': 3, 'b': 4}])

   a  b
0  1  2
1  3  4

In [28]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'a': 5, 'c': 6}, {'a': 7, 'b': 8, 'c': 9}])

     a    b    c
0  1.0  2.0  NaN
1  NaN  3.0  4.0
2  5.0  NaN  6.0
3  7.0  8.0  9.0

In [36]:
# Dataframe from a dictionary of Series
print(type(population))
print(type(area))
pd.DataFrame({'population': population,
              'area': area})

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [37]:
# Dataframe from a 2D numpy array
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.552167  0.095356
b  0.945038  0.109061
c  0.923977  0.656595

In [39]:
# Dataframe from a numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(A)
pd.DataFrame(A)

[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Index

In [40]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [44]:
print(ind[1], ind[::2])

3 Int64Index([2, 5, 11], dtype='int64')

In [45]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [46]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [47]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [48]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [49]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

### Hierarchical Indexing

### Concatenation

### Join

### Group By

### Strings and Time Series